@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(198, 204, 211);
}

/* navbar */
.nav {
  height: 80px;
  background-color: rgb(12, 64, 175);
  width: 80%;
  margin: 20px 10% 0 10%;
  text-transform: uppercase;
  text-align: center;

  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative; */
  overflow: hidden;
}

.logo_container {
  align-items: center;
  margin: 15px 0 0 30px;
}

ul {
  list-style-type: none;
}

.nav_items {
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin-top: 25px;
}

.nav_item {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}

/* career page */
.career_page {
  width: 80%;
  margin: 50px 10% 0 10%;
}
.application_container {
  margin-top: 40px;
  /* border: 1px solid rgba(34, 32, 32, 0.781); */
  box-shadow: 4px 3px 5px 2px rgb(99, 95, 95);
}

.head_container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */

  text-align: center;
  align-items: center;
}

.img_div {
  padding: 10px;
  display: inline-block;
}

.img_div .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-collapse: separate;
}

.head_container h2 {
  margin-left: 40px;
}

.application_container p {
  margin-left: 20px;
}

.about_page {
  margin-top: 30px;
  height: 80vh;
  text-align: center;
}
